<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/learnt.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='learnt.css') }}">
    <title>Sign up Page</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="../app.py" methods="GET">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required name="email">
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required name="pwd">
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <label for="">
                            <input type="checkbox">Remember Me 
                            <a href="#">Forget Password</a>
                        </label>
                    </div>
                    <div>
                    <button type="submit" class="a">Submit</button>
                    </div>
                    <br>
                    <button class="b">Log in</button>
                    <div class="register">
                        <p>Don't have an account <a href="#">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
    </script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">
    </script>
<body>
</html>